<html>
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<h1 id="nameD">Парсер сайта zakaz.bashkortostan.ru</h1>
<input id="search" type="text" class="form-control" oninput = "searching()">
<table id="maintable" class="table" border="1">
    <thead>
    <tr>
    <th scope="col">№</th>
    <th scope="col">Название работ</th>
    <th scope="col">Ссылка</th>
    <th scope="col">Дата окончания работ</th>
    <th scope="col">До окончания приема предложений</th>
    <th scope="col">Стартовая цена</th>
    <th scope="col">Предметы закупки</th>
    <th scope="col">Дата добавления в список</th>
    </tr>
    </thead>
    {% for col in items%}
    <tr>
        <td scope="row">{{col[0]}}</td>
        <td scope="row">{{col[1]}}</td>
        <td scope="row"><a href={{col[2]}} class="link-primary">Перейти</a></td>
        <td scope="row">{{col[3]}}</td>
        <td scope="row">{{col[4]}}</td>
        <td scope="row">{{col[5]}}</td>
        <td scope="row"><details><summary>Посмотреть</summary>{{col[6]}}</details></td>
        <td scope="row">{{col[7]}}</td>
        
    </tr>
    
{% endfor %}
</table>
<script>
function searching() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("search");
  filter = input.value.toUpperCase();
  table = document.getElementById("maintable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[6];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
        var elements = document.getElementsByTagName("details");
        for (x = 0; x < elements.length; i++)
        {
            elements.open = true;
        }
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>

<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
</body>
</html>